.heroArea{
    background-image: url("../images/hero.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-adrop{
    border-bottom: 1px solid $pink;
    background-color: rgba($drkBlue,.6);
    &__logo{
        img{
            width: 150px;
        }
    }
    ul{
        flex-grow: 1;
       >li{
        &:not(:last-child){
            margin-right: 30px;
        }
       }
    }

    
}
.content-herArea{
  height: 50vh;
  &__headings{
    >p{
        width: 350px;
    }
  }
}