.heroArea{
    background-image: url("../images/hero.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-adrop{
    border-bottom: 1px solid $pink;
    background-color: rgba($drkBlue,.6);
    &__logo{
        img{
          width: 50px;
        }
    }
    ul{
        flex-grow: 1;
       >li{
        &:not(:last-child){
            margin-right: 30px;
        }
       }
    }

    
}
.content-herArea{
  height: 50vh;
  &__headings{
    >p{
        width: 350px;
        line-height: 1.2;
    }
  }
}
.timer{
    ul{
        li{
            background-color: $drkBlue;
            border-radius: 7px;
            width: 105px;
            &:nth-child(2){
                margin: 0 15px;
            }
            >p{
                &:nth-child(1){
                  //  padding: 18px 20px;
                }
                &:nth-child(2){
                    background-color: $violet;
                  
                    
                    border-radius: 7px;
                 
                    box-shadow: inset 0 0 30px #17052C ;
                    
                }
            }
        }
    }
}