div(class="footer-adrop__container--socialLinks d-flex align-items-center")
    a(href="#")
     include ../icons/titktok.pug
    a(href="#")
     include ../icons/youtube.pug
    a(href="#")
     include ../icons/instagram.pug
    a(href="#")
     include ../icons/twitter.pug
