.how-it-work.postion-relative
 h2(class="heading-sections") 
  span How it works ?
 include ../../general-components/card.pug
 p(class="how-it-work__mainTxt thrdViolet nuntio-med-italic size-18 mtop-25") When you buy an NFT scratch card, you get a chance to win up to $1,000,000 or participate in the MR.Gain airdrop. There's no limit to the number of scratch cards you can buy, and you can also resell them to generate profits.
