



div(class="footer-adrop pdtop-15 pdb-15")
 .container-adrop
  div(class="footer-adrop__container d-flex align-items-center justify-content-between")
   p(class="lightBlue size-16 nunito-reg") MR.Gain &copy;
    span(class="currentYear")  2024
    span - All Rights Reserved
   div.footer-adrop__container--privacyLinks
    a(href="#" class="lightBlue size-16 nunito-reg") Terms &amp; Conditions
    a(href="#" class="lightBlue size-16 nunito-reg mrl-30") Privacy Policy
   div(class="footer-adrop__container--socialLinks d-flex align-items-center")
    a(href="#")
     include ../icons/titktok.pug
    a(href="#")
     include ../icons/youtube.pug
    a(href="#")
     include ../icons/instagram.pug
    a(href="#")
     include ../icons/twitter.pug



    
     