div(class="content-herArea d-flex flex-column justify-content-center")
 .content-herArea__headings
   h1(class="white lhf-font size-52 weight-normal") Join the Airdrop
   p(class="white nuntio-med size-24") Scratch your way to an airdrop or the biggest prize!
   a(href="#" class="join-get-btn nunito-semi-bold size-25 get mtop-40 ") Get Started

 