div(class="header-adrop d-flex align-items-center pdl-50 pdr-50 justify-content-between pdtop-9 pdb-9")
 a(href="#" class="header-adrop__logo")
  img(src="images/logo.png")
 ul(class="d-flex align-items-center justify-content-center")
  each val,index in ["MR.Gain ahmed","Airdrop","Token","Socials"]
   li
    a(href="#" class="nuntio-med white")= val 
 a(href="#" class="join-get-btn size-22 nunito-bold join") join 