div(class="header-adrop d-flex align-items-center pdl-50 pdr-50 justify-content-between pdtop-9 pdb-9")
 a(href="#" class="header-adrop__logo white d-flex align-items-center")
  img(src="images/MrGain_Logo.png")
  p(class="d-flex flex-column shrinkLineHeight" )
   span(class="nunito-bold size-26") MR.Gain
   span(class=" size-10 nunito-reg text-right") You can get profit!
 ul(class="d-flex align-items-center justify-content-center")

  each val,index in ["MR.Gain","Airdrop","Token","Socials"]
   li
    a(href="#" class="nuntio-med white")= val 
 a(href="#" class="join-get-btn size-22 nunito-bold join") join 