- var data = [{time:"Days",num:'',class:"day",subClass:"num"},{time:"Hours",num:'',class:"hour",subClass:"num"},{time:"Minutes",num:'',class:"min",subClass:"num"},{time:"Days",num:'',class:"sec",subClass:"num"}]
div(class="timer d-flex justify-content-center")
 ul(class="d-flex align-items-center countdown" data-date="2-4-2024" data-time="12:00")
  each val,index in data
   li(class=" text-center")
    p(class="nunito-bold size-20 white pdtop-5 pdb-5")= val.time 
    p(class=`nunito-bold-ex white size-40 pdtop-20 pdb-20 ${val.class}`)= val.num
     span(class=val.subClass)
     span(class="word")
   
 
 