<svg xmlns="http://www.w3.org/2000/svg" width="34.694" height="32.472" viewBox="0 0 34.694 32.472">
  <g id="layer1" transform="translate(0 0)">
    <path id="path1009" d="M484.024,356.79l13.395,17.91L483.94,389.262h3.034l11.8-12.749,9.535,12.749h10.324l-14.149-18.917,12.547-13.554H514L503.13,368.531l-8.782-11.741Zm4.461,2.234h4.743l20.943,28h-4.743Z" transform="translate(-483.94 -356.79)" fill="#335bdf"/>
  </g>
</svg>