@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*loop font size*/
@for $i from 1 through 60{
  .size-#{$i}{
    font-size: $i+px;
  }
}
@for $i from 1 through 10{
  .weight-#{$i*100}{
    font-weight: #{$i*100};
  }
}
@font-face {
  font-family: 'Nunito-Regular';
  src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: 'Nunito-med';
  src: url("../fonts/Nunito-Medium.ttf");
}
@font-face {
  font-family: 'Nunito-Bold';
  src: url("../fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: 'Nunito-ExtraBold';
  src: url("../fonts/Nunito-ExtraBold.ttf");
}
@font-face {
  font-family: 'Nunito-SemiBold';
  src: url("../fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: 'Nunito-MediumItalic';
  src: url("../fonts/Nunito-MediumItalic.ttf");
}
<<<<<<< HEAD
//Nunito-Bold.ttf Nunito-ExtraBold.ttf Nunito-SemiBold.ttf Nunito-MediumItalic.ttf Nunito-Regular.ttf
.nunito-reg{
  font-family: 'Nunito-Regular';
}
=======
//Nunito-Bold.ttf Nunito-ExtraBold.ttf Nunito-SemiBold.ttf Nunito-MediumItalic.ttf

>>>>>>> 3022794aab6becd316dcc5899a1d850e3f6d479a
.nuntio-med{
  font-family: 'Nunito-med';
}
.nunito-bold{
  font-family: 'Nunito-Bold';
}
.nunito-bold-ex{
  font-family: 'Nunito-ExtraBold';
}
.nunito-semi-bold{
  font-family: 'Nunito-SemiBold';
}
.nuntio-med-italic{
  font-family: 'Nunito-MediumItalic';
}
.weight-normal{
  font-weight: normal;
}

.lightLtrSpacing{
  letter-spacing: .25px;
}

.ltrspacing{
  letter-spacing: 1.5px;
}
.ltrspacingNav{
  letter-spacing: .85px;
}
.ltrspac-2{
  letter-spacing: 2px;
}
.ltrspac-3{
  letter-spacing: 3px;
}
.shrinkLineHeight{
  line-height: 1;
}
.txtLHeight{
  line-height: 1.6;
}
.text-right{
  text-align: right;
}
/*h2 heading Title */


