/*colors */

$white:#fff;
$yellow:#FFAB21;
$drkBlue:#0C032C;
$pink:#AD0391;
$violet:#570067;
$light-violet:#B480EE;
$secondaryViolet:#17052C;
$secndryPink:#B333DF;
$scondryYellow:#DFBD33;
$lightBlue:#335BDF;
$thrdPink:#FF53F9;


















.white{
    color: $white;
}
.drkBlue{
    color: $drkBlue;
}










