
include ./components/head.pug
 include ./components/layout/hero/hero.pug
 
 .sections 
  .container-adrop
   include ./components/layout/sections/HowItWork.pug
   include ./components/layout/sections/TheToken.pug
 include ./components/layout/footerpage/footer.pug

 

  

include ./components/footer.pug
  

